:root {
    --main-dark-color: #8a2d38;
    --main-dark-color-lighter: #ac3a47;
    --secondary-dark-color: #0a2239;
    --main-light-color: #ffffff;
    --secondary-light-color: #fff3dc;
    --complement-color: #F7ECE1;
    --title-font: 'Tomorrow', sans-serif;
    --text-font: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(243, 184, 113);
    margin: 0;
    position: relative;
    padding: 0;
    padding-bottom: 3rem;
    min-height: 100vh;

}

/* ----- HEADER - TOP ----- */
.header {
    position: sticky;
    height: 3rem;
    top: 0;
    z-index: 10;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
    background-color: var(--main-dark-color);
    font-size: .9rem;
}

.header__top__title {
    font-family: var(--title-font);
    font-size: 1.3rem;
    color: var(--main-light-color);
}

.header__top__menu-button {
    font-family: var(--title-font);
    font-size: 1rem;
    color: var(--main-light-color);
}

.header__top__logo {
    max-width: 50px;
    display: none;
}

/* ----- HEADER - NAV ----- */
.header__nav {
    display: flex;
    justify-content: flex-end;

    width: 100vw;
    display: none;
}

.header__nav__ul {
    font-family: var(--text-font);
    background-color: var(--main-dark-color);
    width: 100vw;
    position: absolute;
    z-index: 10;
    padding: 0;
    margin: 0;
}

.header__nav__ul>li {
    background-color: var(--main-dark-color);
    list-style: none;
    padding: .3rem 0 .3rem 2.6rem;
}

.header__nav__ul>li>a {
    color: var(--main-light-color);
    text-decoration: none;
    font-size: 1.8rem;
}

.header__nav__ul>li:hover {
    background-color: var(--main-dark-color-lighter);
    background-origin: border-box;
    font-weight: bold;
}

/* ----- MAIN - CAROUSEL ----- */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0 0;
}

.main__carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    z-index: 2;
    background-image: url(./../images/petanque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center center;
    overflow: hidden;
    width: 100%;
    height: 11rem;

}

.main__carousel::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.52), transparent);
    background-origin: padding-box;
    width: 100%;
    height: 11rem;
    display: block;
}


.main__carousel__title-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--text-font);
    align-items: center;
    z-index: 2;
    padding-top: 0;
    margin-bottom: 0;
    color: var(--complement-color);
}

.main__carousel__title-date h3:first-child {
    margin: 0 0 0 0;
    padding: 10px;
    padding-right: 2px;
    color: white;
    width: 100%;
    background-color: rgb(0, 0, 0, .4);
    border-radius: 20px;
}

.main__carousel__title-date div:last-child {
    margin-top: 5.2rem;
    font-weight: bold;
}

.main__carousel__description {
    position: relative;
    z-index: 2;
    color: var(--complement-color);
    margin: 0;
}
/* ----- BUTTON LEFT RIGHT ----- */
.arrow {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    z-index: 100;
}

.arrow.left {
    margin: 0 0 0 1rem;
}

.arrow.right {
    margin: 0 1rem 0 0;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}
/* ----- MAIN - WELCOME ----- */
.main__welcome {
    margin: 2rem .5rem 0;
    padding: 0 1rem;
    font-family: var(--text-font);
    background-color: #a53c4891;
}

.main__welcome h2:first-child {
    font-family: var(--title-font);
    text-align: center;
}

.main__welcome p:last-child {
    text-align: justify;
}

/* ----- MAIN - FOOTER ----- */

.footer {
    background-color: var(--main-dark-color);
    font-family: var(--text-font);
    width: 100vw;
    position: absolute;
    bottom: 0;
    height: 3rem;
    display: flex;
    justify-content:center;
}

.footer__ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 1.1rem 0;
}

.footer__ul>li {
    list-style: none;
    margin: 0;
}

.footer__ul>li:hover {
    font-weight: bold;
}

.footer__ul>li>a {
    color: var(--main-light-color);
    text-decoration: none;
}

/* ----- RESPONSIVE ----- */
/* Mobile + */
@media (min-width: 410px) {

    .header__top {
        justify-content: space-around;
    }

    .header__top__logo {
        display: block;
        background-color: white;
        align-self: center;
    }

    .main {
        padding-top: .5rem;
    }

    .main__carousel__title-date>* {
        font-size: 140%;
    }

    .main__carousel {
        margin: 1rem;
        padding: 1rem;
        width: 80vw;
        height: 12rem;
    }

    .main__carousel::before {        
        margin-left: -1rem;
        padding: 1rem;
        width: 80vw;        
        height: 12rem;
        display: block;
    }

    .arrow.left {
        margin: 0;
    }

    .arrow.right {
        margin: 0;
    }

    .header__nav__ul>li {
        padding-left: 35%;
    }

    .main__carousel__title-date div:last-child {
        margin-top: 7.8rem;
    }

    .main__welcome {
        margin: 0;
        width: 80vw;
        padding: 0 1rem;
        font-family: var(--text-font);
        background-color: #a53c4891;
    }

    .footer__ul {
        margin: 0 15%;
    }

}

/* Tablettes */
@media (min-width: 750px) {

    .header {
        margin-bottom: 2.5rem;
    }

    .header__top__menu-button {
        display: none;
    }

    .header__top {
        height: 4.5rem;
        justify-content: center;
    }

    .header__top__title {
        font-size: 2.5rem;
        padding-left: 1.5rem;
        align-self: center;
    }

    .header__nav {
        display: block;
    }

    .header__nav__ul {
        display: flex;
        justify-content: center;
        position: static;
        padding-bottom: 1rem;
    }

    .header__nav__ul>li {
        padding: 0 1rem;
    }

    .header__nav__ul>li>a {
        font-size: 1.3rem;
    }

    .main {
        padding-top: 2rem;
    }

    .main__carousel, .main__carousel::before{
        height: 15rem;
    }
   

    .main__carousel__title-date div:last-child {
        margin-top: 9.8rem;
        font-size: 2rem;
    }

    .main__carousel__title-date h3:first-child {
        font-size: 2rem;
    }

    .footer__ul {
        width: 60%;
    }
}

/* Desktop */
@media (min-width: 1000px) {
    .header {
        height: 7rem;
    }

    .header__top {
        height: 8rem;
    }

    .header__top__title {
        font-size: 4rem;
    }

    .header__top__logo {
        max-width: 90px;
    }

    .header__nav__ul>li>a {
        font-size: 1.5rem;
    }

    .main__carousel, .main__carousel::before {
        height: 17rem;
    }

    .main__carousel__title-date div:last-child {
        margin-top: 10.9rem;
        font-size: 2.2rem;
    }

    .main__carousel__title-date h3:first-child {
        font-size: 2.2rem;
    }

    .footer {
        height: 4rem;
    }

    .footer__ul>li>a {
        font-size: 1.2rem;
    }
}

/* Desktop Wide */
@media (min-width: 1400px) {
    .header__top{
        padding:0;
    }
    .main__carousel,
    .main__welcome {
        width: 75%;
    }
}

/* STYLES POUR SCRIPT JAVASCRIPT */
.hidden {
    display: none;
}