/*----------------------------*/
/*---------- COLORS ----------*/
/*----------------------------*/

$main-dark-color: #8a2d38;
$main-dark-color-lighter: #ac3a47;
$secondary-dark-color: #0a2239;
$main-light-color: #ffffff;
$secondary-light-color: #fff3dc;
$complement-color: #F7ECE1;



/*----------------------------*/
/*---------- FONTS -----------*/
/*----------------------------*/

$title-font: 'Tomorrow', sans-serif;
$text-font: Arial, Helvetica, sans-serif;



/*----------------------------*/
/*-------- RESPONSIVE --------*/
/*----------------------------*/

// for min-width
$responsive-mobile-plus: 410px;
$responsive-tablet: 750px;
$responsive-desktop: 1000px;
$responsive-desktop-wide: 1400px;



